body {
    background-color: #1b1a20;
    margin: 0 auto;
    text-align: center;
    color: white;
    margin-top: 250px;
}

.h1 {
    font-size: 43px;
}

.h2 {
    font-size: 30px;
}

.txtinput {
    margin-top: 8px;
}

.btn {
    margin-top: 10px;
}

